table{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 10px solid hsl(207, 50%, 70%);
    overflow: hidden;
    color:hsl(214, 60%, 25%);
}

tr:hover {background-color: hsl(207, 50%, 90%);}

td{
    text-align: center;
}

.egesz{
    background-color: white;
    padding: 30px;
    margin: auto;
    width: 1000px;
    border-radius: 50px;
    border: 30px solid hsl(207,62%,80%)
}

.arckepkep{
    text-align: center;
}

body{
    background-color: hsl(207, 62%, 70%);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
h1,h2{
    color: hsl(207, 62%, 40%);
}
.kozepre{
    text-align: center; 
}
.life{
    background-color: hsl(207, 62%, 90%);;
    padding: 30px;
    margin: auto;
    width: 800px;
    border-radius: 50px;
    border: 30px solid hsl(207,62%,80%) ;
}
hr{
    border: 1px hsl(207, 62%, 20%) ;
}