body{
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
}
div{
    padding: 10px;
    background-color: white;
    width: 800px;
    border: 1px solid gray;
    margin: auto;
    border-radius: 40px;
}
p{
    text-align: justify;
}
h1,h2{
    color: rgb(0, 30, 100);
    text-align: center;
}
img{
    float: right;
    width: 370px;
}
li{
    color:rgb(70, 110, 200)
}